<header class="navbar">
    <div class="container">
      <h1 class="brand">GAME ROOM</h1>
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/catalog">Catalog</a></li>
          <li><a routerLink="/create">Create</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
