  <!-- Navigation Bar -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <header class="navbar">
    <div class="container">
      <h1 class="logo">GAME ROOM</h1>
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/catalog">Catalog</a></li>
          <li><a routerLink="/create">Create</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contacts">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
