/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;    
    margin: 0;       
    padding: 0;      
  }
  
  
 
  
  body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(135deg, #1e1e2f, #3c3b5c); /* Dark gaming gradient */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }