 <!-- Contact Us Page Container -->
 <div class="contact-container">
    <h1 class="title">GAME ROOM</h1>
    
    <div class="contact-content">
      <section class="contact-introduction">
        <h2>Get in Touch</h2>
        <p>Have any questions or suggestions? We'd love to hear from you! Feel free to contact us using the information below:</p>
      </section>
      
      <section class="contact-info">
        <h2>Contact Information</h2>
        <p><strong>Name:</strong> Iaylo Belovski</p>
        <p><strong>Email:</strong> contactgameroom.com</p>
        <p><strong>Phone:</strong> +359 88 123 4567</p>
        
        <h3>Follow Us</h3>
        <p>Stay updated with the latest from Game Room on our social media:</p>
        <div class="social-links">
            
          <a href="https://www.instagram.com/" target="_blank" class="social-btn">Instagram</a>
          <a href="https://twitter.com/" target="_blank" class="social-btn">Twitter</a>
          <a href="https://www.youtube.com/" target="_blank" class="social-btn">YouTube</a>
          <a href="https://www.facebook.com/" target="_blank" class="social-btn">Facebook</a> 
        </div>
      </section>

      <a routerLink="/home" class="btn">Back to Home</a> 
    </div>
  </div>