 /* Main Content Styles */
 .content {
    flex: 1; /* Pushes the footer to the bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 300px;
    
  }
  
  .content .welcome {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for text */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .content .welcome h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .content .welcome p {
    font-size: 16px;
  }